Pong/Pong/Service References/ServiceReference1/PongHighscores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49537/PongHighscores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PongHighscoreService" />
  <xs:element name="SendHighscore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hits" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHighscoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighestScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHighestScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PongHighscoreService" minOccurs="0" name="GetHighestScoresResult" nillable="true" type="q1:ArrayOfHighscore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>